/*root game attribute */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e6fa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* title attributes */
h1{
    text-align: center;
    color: #00008b;
}
/* marquee attributes */
marquee{
    text-align: center;
    color: #00008b;
    font-size: 25px;
    margin-top: -100px;
}
#game {
    width: 120%;
    max-width: 1500px;
    height: calc(100vh - 30px); /* height of marquee */
    display: flex;
    justify-content: center;
    align-items: center;
}